*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
button{
    border: none;
    border-radius: 2px;
    padding: 2vh;
    cursor: pointer;
}

.flex{
    display: flex;
}
.grow{
    flex-grow: 1;
    
}
.footer{
    flex-grow: 1;
    display: block;
    text-align: center;
    font-size: bold;
    background: white;
}
.column{
    flex-direction: column;
}

.parole{
    
    overflow: hidden;
    text-overflow: clip;
}
html > *{
    background-color: aqua;
    margin: 0px;
    padding: 0px;
}
.nav{
    background-color: white;
    color: #01016da8;
    height: 10vh;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
    box-shadow: 2px 2px 8px 0px rgb(2, 2, 2);
}
.presentater{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr auto;
background-color: #01016da8;
color: white;
}
.bio{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 1vh;
    
}
.bio h2{
    font-size: 8vh;
    text-overflow: ellipsis;

}
.centralize{
    
    height: 8vh;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.centralize button{
   
    font-weight: bold;
    box-shadow: 1px 5px 15px;
    background: transparent;
    backdrop-filter: blur(80%);
}
.centralize button:hover{
    backdrop-filter: blur(10%);
   outline: 1px solid;
}

.title{
    font-size: 2em;
    font-weight: bold;
}
.container-nav{
    transition: all 0.5s ease-in-out;

}
.nav .container-nav{
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    margin: 1vw;
}
.nav-links a{
    color: #01016da8;;
}
.link-menu{
    display: none;
}



@media screen and (max-width: 900px) {
    
    .link-menu{
        display: block;
        position: absolute;
        z-index: 300;
        color: wheat;
        left: 85vw;
        font-size: 8vw;
    }
    .presentater{
        padding-top: 10vh;
        text-align: center;
        grid-template-columns: 1fr;
        width: 100vw;
    }
    .centralize{
        flex-direction: column;

        justify-content: space-around;
    }
    .parole{
        font-size: 2vh;
    }
    .centralize button{
        margin-top: 2vh;
        font-size: 1em;
    }
    .presentater div img{
        object-fit: cover;
        width: 99vw;
    }
    .bio{
        width: 98vw;
        
    }
    .bio div{
        width: inherit;
    }
    .title{
        text-align: left;
        font-size: 8vw;
        
    }
    
    .nav{
        justify-content: space-between;
        padding-left: 5vw;
        align-items: center;
        height: 8vh;
        position:static;
        overflow-x: hidden;
        
    }
    .container-nav1{
        
        overflow-x: hidden;

    }
   

    .nav .container-nav{
        font-size: 3em;
        left: -100vw;
        width: 100%;
        height: 100%;
        position: absolute;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(5px);
        
        top: 0vh;
    }
    
    .mobile-menu{
        left: 0vw !important;
        position: relative;
    }
   
}